<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BookLover.Common.Settings.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BookLover.Common.Settings.ApplicationSettings>
            <setting name="UserSessionTimeout" serializeAs="String">
                <value>00:30:00</value>
            </setting>
        </BookLover.Common.Settings.ApplicationSettings>
    </applicationSettings>
</configuration>